[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/msdfgen"]
	path = external/msdfgen
	url = https://github.com/Chlumsky/msdfgen
